#numberpassedtests {
color : black;
border: solid green;
border-radius : 2px;
width: 600px;
background : #33CC00;
}

#numberfailedtests {
color : black;
border: solid black;
border-radius : 2px;
width : 600px;
background : #CC3300;
}

#passedtestblock {
border : solid black 1px;
border-radius : 2px;
margin-left : 10px;
width: 300px;
}

#passedtestblock:hover {
border : solid black 1px;
border-radius : 2px;
margin-left : 10px;
width: 300px;
background : #C0C0C0;
}

#failedtestblock {
border : solid black 1px;
border-radius : 5px;
margin-left : 10px;
width: 300px;
}

.passedtest {
color : black;
background : #33CC00;
width : 300px;
}

.failedtest {
color : black;
background : #CC3300;
width : 300px;
}

#numbersuitesexecuted{
}

#numbermethodsexecuted{
}

#suiteinfo {
width: 300px;
background : grey;
}

.screenshot {
}